@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic);

body {
    font-family: Roboto;
}

.layout .layout-row {
    clear: left;
    margin-top: 24px;
}

.layout .left {
    position: relative;
    float: left;
    white-space: nowrap;
    width: 192px;
}

.layout .right {
    margin-left: 192px;
}

.layout h2 {
    margin-top: 0;
}

.layout ul {
    list-style-position: outside;
}
