@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic);

body {
    font-family: Roboto;
}

.layout .layout-row {
    clear: left;
    margin-top: 48px;
}

.layout .left {
    position: relative;
    float: left;
    white-space: nowrap;
    width: 224px;
}

.layout .right {
    margin-left: 224px;
}

.layout h2 {
    margin-top: 0;
}

.layout ul {
    list-style-type: circle;
    list-style-position: outside;
    padding-left: 0;
}

.layout .subhead {
    padding-left: 40px;
}

.layout ul li {
    margin-bottom: 6px;
}

b {
    font-weight: 500;
}

.firm {
    font-weight: 600;
}

.post {
    font-weight: 600;
}

.lead {
    margin-top: 48px;
}

.foot {
    margin-top: 48px;
    margin-bottom: 12px;
    color: #a0a0a0;
    font-size: 75%;
}

a,
a:hover
{
    color: black;
}

